body{
	height: 100%;
	font-family: $fontFamily;
	min-width: $minWidth;
	letter-spacing: $letterSpacing;
}

.container {
	max-width: $containersMaxWidth;
	margin-left: auto;
	margin-right: auto;
	padding-left: $containersPadding;
	padding-right: $containersPadding;
	width: 100%;
}

.wrapper{
	overflow: hidden;
	min-height: 100%;
}